@import "../../../../styles/index.scss";

.container__inner {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: auto;

	.login__container {
		padding: 10px 0;
		color: #06262d;
		height: 100%;
		width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.logo {
			width: 50%;
			display: block;
			margin-bottom: 50px;
		}

		h1 {
			color: $black;
			margin-bottom: 15px;
		}

		.login__form {
			display: flex;
			flex-direction: column;
			width: 100%;

			& > *:last-child {
				margin-top: 25px;
			}
		}

		.forgot-pwd__link {
			color: $blue;
			text-decoration: underline;
			font-size: 16px;
			text-align: right;
			cursor: pointer;
		}

		.errorMsg {
			display: flex;
			color: $pink;
			font-size: 12px;
			line-height: 1.2;
		}
	}
}
