html,
body,
#root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	position: relative;
}

input {
	border-radius: 4px;
}

#root {
	background-position: right bottom, left top;
	background-repeat: no-repeat;
	justify-content: flex-start;
}

table,
tbody,
thead,
tfoot,
th,
tr,
td {
	font-weight: unset;
}

select,
select:focus-visible,
button {
	outline: none;
	cursor: pointer;
}

textarea,
button:active,
button:focus,
button:focus:active,
button:active,
button:focus-visible {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-image: none;
	outline: 0;
	border-style: outset;
	border: none;
}

input,
textarea,
button,
select,
a,
div {
	-webkit-tap-highlight-color: transparent;
}

input {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px $bastille inset !important;
	-webkit-box-shadow: 0 0 0 30px $bastille inset !important;
	-webkit-text-fill-color: $white;
	transition: background-color 2147483647s;
}

.pac-container {
	border-color: $violet;
	margin-top: 10px;
	background-color: $violet;
	* {
		color: $white !important;
	}

	.pac-item:hover {
		background-color: $darkBastille;
	}
}

::-webkit-scrollbar {
	width: 4px;
	height: 10px;
	background-color: $darkGray;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: $gray;
	box-shadow: 0 0 1px $darkGray;
	-webkit-box-shadow: 0 0 1px $darkGray;
}
