.mini-card{
    background-color: white;
    min-height: 40px;
	height: fitContent;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 15px;
	cursor: pointer;
    padding: 18px;
}