
.top-left {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom-center {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}