@import "../../styles/index.scss";

.section__wrapper {
	.section__header {
		display: flex;
		margin-bottom: 25px;

		h2 {
			img {
				margin-right: 10px;
			}
		}
	}

	.summary__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		margin-bottom: 15px;
	}
}

.recharge__icon {
	path {
		fill: $green;
	}
}

.station__icon {
	path {
		fill: $blue;
	}
}
