::selection{
    background-color: #66F39F;
	color: white;
}
.card {
	background-color: white;
	min-height: 200px;
	max-height: 200px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 15px;
	cursor: pointer;
    padding: 18px;
text-overflow: ellipsis;
}
.card-main{
background-color: white;
	min-height: 220px;
	height: fitContent;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 15px;
	cursor: pointer;
    padding: 18px;
}

/* .MuiGrid-root{
	margin-left: 0px !important;
} */