::selection{
    background-color: #66F39F;
}

.card {
	min-height: 150px;
	height: fitContent;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 15px;
	cursor: pointer;
    padding: 18px;
}
/* 
.small {
	margin: 5px;
	padding: 5px;
} */
.top-left {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.center-center {
	display: center;
	align-items: center;
	justify-content: center;
}
.bottom-center {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
